<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidapplication.oregongoestocollege.org.itsaplan">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".ui.ListOfBlockActivity"
            android:label="@string/nav_title_checklist"
            android:parentActivityName=".ui.MainActivity">

        </activity>


        <activity
            android:name=".ui.MyPlan"
            android:label="@string/nav_title_myplan"
            android:parentActivityName=".ui.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>


        <activity android:name=".ui.Password"
            android:label="@string/nav_title_password"
            android:parentActivityName=".ui.MainActivity">
        </activity>


        <activity android:name=".ui.Info"
            android:label="@string/nav_title_info"
            android:parentActivityName=".ui.MainActivity">
        </activity>


        <activity android:name=".ui.Actsat"
            android:label="@string/nav_title_actsat"
            android:parentActivityName=".ui.MyPlan">
        </activity>


        <activity android:name=".ui.ResidencyInfo"
            android:label="@string/nav_title_residencyinfo"
            android:parentActivityName=".ui.ResidencyInfo">

        </activity>

    </application>

</manifest>